{% extends "app/base.html" %}
{% load static %}

{% block title %}My Projects{% endblock title %}

{% block body %}
<section id="projects" class="projects section bg-light py-5">
    <div class="container text-center section-title mb-5" data-aos="fade-up">
        <h2 class="display-4 fw-bold">My Projects</h2>
        <p class="lead text-muted">Explore the projects I have worked on.</p>
    </div>

    <div class="container">
        <div class="row gy-5 justify-content-center">

            <div class="col-lg-4 col-md-6">
                <div class="card shadow-sm" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static "assets/project/admin.png" %}" class="card-img-top img-fluid" alt="Stundent Management System" style="object-fit: cover; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Stundent Management System</h5>
                        <p class="card-text text-muted mb-2">
                            A Student Management System is software designed to streamline educational administration. It manages student data, …
                        </p>
                        <p class="text-muted small mb-1">
                            <i class="bi bi-box me-1" style="font-size: 1.2rem; color: #343a40;"></i> Section: <b>{{ project.section }}</b>
                        </p>
                        <a href="https://github.com/Nitinsharma100/stodent_management_system" class="btn btn-primary" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card shadow-sm" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static "assets/project/portal.png" %}" class="card-img-top img-fluid" alt="Stundent Management System" style="object-fit: cover; height: 225px;">
                    <div class="card-body">
                        <h5 class="card-title">Stundent Portal</h5>
                        <p class="card-text text-muted mb-2">
                            A student portal is an online platform that provides students with easy access to academic
                        </p>
                        <p class="text-muted small mb-1">
                            <i class="bi bi-box me-1" style="font-size: 1.2rem; color: #343a40;"></i> Section: <b>{{ project.section }}</b>
                        </p>
                        <a href="https://github.com/Nitinsharma100/StudentPortal" class="btn btn-primary" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
          
            <div class="col-lg-4 col-md-6">
                <div class="card shadow-sm" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static "assets/project/library.png" %}" class="card-img-top img-fluid" alt="Stundent Management System" style="object-fit: cover; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Library management</h5>
                        <p class="card-text text-muted mb-2">
                            A Library Management System is software that simplifies library operations. It manages book inventories, member …
                        </p>
                        <p class="text-muted small mb-1">
                            <i class="bi bi-box me-1" style="font-size: 1.2rem; color: #343a40;"></i> Section: <b>{{ project.section }}</b>
                        </p>
                        <a href="https://github.com/Nitinsharma100/library-Management" class="btn btn-primary" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card shadow-sm" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static "assets/project/donation.png" %}" class="card-img-top img-fluid" alt="Stundent Management System" style="object-fit: cover; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Donation and Volunteer</h5>
                        <p class="card-text text-muted mb-2">
                            A Donation and Volunteer Management System streamlines charitable activities by organizing donations and volunteer efforts. …
                        </p>
                        <p class="text-muted small mb-1">
                            <i class="bi bi-box me-1" style="font-size: 1.2rem; color: #343a40;"></i> Section: <b>{{ project.section }}</b>
                        </p>
                        <a href="https://github.com/Nitinsharma100/donation" class="btn btn-primary" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card shadow-sm" data-aos="fade-up" data-aos-delay="100">
                    <img src="{% static "assets/project/shop.png" %}" class="card-img-top img-fluid" alt="Stundent Management System" style="object-fit: cover; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">Shopping X</h5>
                        <p class="card-text text-muted mb-2">
                            An e-commerce website is a digital platform enabling businesses to sell products or services online. …
                        </p>
                        <p class="text-muted small mb-1">
                            <i class="bi bi-box me-1" style="font-size: 1.2rem; color: #343a40;"></i> Section: <b>{{ project.section }}</b>
                        </p>
                        <a href="https://github.com/Nitinsharma100/shopingX" class="btn btn-primary" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
           
          
        </div>
        
    </div>
</section>
{% endblock body %}
